
  <footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Made by Taran and Amelia || Data Received from: https://www1.nyc.gov/site/doh/covid/covid-19-data.page
    </div>
    <!-- Copyright -->
  </footer>
